

#strikedPrice{
    text-decoration: line-through;
}

#productslist {
    display: flex;
    flex-direction: column;
  }
.flex{
    display:flex;    
}
.border{
    border: 1px solid lightgray;
}

.leftside{
    text-align: left;
}