.bodyHeading_div {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;

}
.bodyHeading_img {
  width: 100%;

}
.bodyimg_img:hover {
  width: 102%; 


}
.bodyimg_div {

  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
.bodyimg_img {
  width: 100%;
}
@media screen and (max-width: 700px) {
    .bodyimg_div {
        grid-template-columns: repeat(3,1fr);
      }
  }