* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  margin-top: 6%;
}

.sidebar {
  /* max-width: 16rem; */
  /* width: 16rem; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.productContainer {
  flex-grow: 1;
  margin-left: 20;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}

.card:hover {
  transform: scale(1.04);
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

.card {
  max-height: 500px;
}